<?xml version="1.0"	encoding="utf-8" ?>
<configuration>
	 
	<appSettings>
		<!-- 
			NOTE:
			i) DO NOT PUT <FileFolder>, <MailFolder>, <PrintFolder> and
				<LogFolder> in the folder of the Web application, because
				when you do a delete folder operation in the Web application 
				folder, the Web application will restart automatically.

			ii) Placeholder: {WebAppDir} can be used in <FileFolder>, <MailFolder>,
				<PrintFolder> and <LogFolder>. It will be replaced at runtime.
				
				{WebAppDir} must be followed by two dots and a backslash ("..\")

				e.g: {WebAppDir}..\{UserApp}_root\file

			iii) The Server Administrator needs to manually set ACL (Full Control)
				of this folder for the user: ASPNET.

			iv) Setup max upload file size, go system.web -> httpRuntime
		-->
		
		<!-- Web File Process Mode: share (default) / copy -->
		<add key="PBWebFileProcessMode" value="share" />
		<!-- Base folder for the Web file system -->
		<add key="FileFolder" value="{WebAppDir}..\pruebawebform_root\file" />
		<!-- Base folder for the Web mail system -->
		<add key="MailFolder" value="{WebAppDir}..\pruebawebform_root\mail" />
		<!-- Base folder for the Web print system -->
		<add key="PrintFolder" value="{WebAppDir}..\pruebawebform_root\print" />
		<!-- Base folder for the system log (debug) -->
		<add key="LogFolder" value="{WebAppDir}..\pruebawebform_root\log" />
		
		<!-- Default Current Directory: default = c:\ -->
		<add key="PBCurrentDir" value="V:\pb7 tutorial\pb125sintime\pruebawebform" />
		
		<!-- Default Temporary Directory: default = c:\temp -->
		<add key="PBTempDir" value="c:\temp" />

		<!-- Default PBL Files Directory: default = c:\~pl_ -->
		<add key="PBLibDir" value="c:\~pl_" />

		<!--
			The folder list cannot be downloaded. Use a semicolon as a separator.
			Do not include the subfolders.
		-->
		<add key="PBDenyDownloadFolders" value="c:\~pl_" />
		
		<!-- Show folders that cannot be downloaded: true / false (default) -->
		<add key="PBShowDenyDownloadFolders" value="false" />

		<!-- 
			PB Command Argument String
			
			Arguments are passed by a query string attached to the URL of the 
			main page.  For example, if you change the command string value to
			"p1 p2 p3", the URL will be generated as follows:
			http://{your host}/{your Web app}/default.aspx?PBCommandParm=p1%20p2%20p3
		-->
		<add key="PBCommandParm" value="" />
		
		<!-- 
			PBYieldTimeout - default value = 10000 ms
			
			Yield() stops execution of the current code, returns the Web page
			to the client side, and waits for the amount of time set {PBYieldTimeout}
			before posting back to the server side and resuming execution of the
			stopped code.                              
			
			To disable Yield(), set value = 0
			
			However, if you set the value to 0, do not include the Yield() call in a 
                        loop such as the following or you can cause the system to lock:
			
			      do while boolFlag
				 yield()
			      loop
		-->
		<add key="PBYieldTimeout" value="10000" />
		
		<!-- Web Window Style: Window / Web (default) -->
		<add key="PBWebWindowStyle" value="Web" />

		<!--
			Default Theme: Auto (default) / Classic / XP
			
			Auto means it will depend on the OS of the client's PC.
			Windows 2000 -> Classic;
			Windows XP -> XP;
			Windows 2003 -> Classic;
			All other OSs -> XP;
		-->
		<add key="PBDefaultTheme" value="Auto" />

		<!-- Postback Type : Synchronous (default) / Asynchronous -->
		<add key="PBPostbackType" value="Asynchronous" />

		<!-- Culture Source: Server (default) / Client -->
		<add key="PBCultureSource" value="Server" />
		
		<!-- Window Default Width -->
		<add key="PBWindowDefaultWidth" value="1003" />

		<!-- Window Default Height -->
		<add key="PBWindowDefaultHeight" value="600" />
		
		<!-- Show File Manager Icon: true / false (default) -->
		<add key="PBFileManager" value="false" />
		
		<!-- Show Mail Manager Icon: true / false (default) -->
		<add key="PBMailManager" value="false" />

		<!-- Show Theme Manager Icon: true / false (default) -->
		<add key="PBThemeManager" value="false" />

 		<!-- PBDenyTextBoxCopyPaste: true / false (default) -->
 		<add key="PBDenyTextBoxCopyPaste" value="false" />
		
		<!--
		  Status message text is displayed to the user during Ajax request processing  
		  To disable the status message set value = "" (empty string) 
		 -->
		<add key="PBAjaxWaitingMessage" value="Loading ... ... Please wait..." />
    
		<!--Font family of the AjaxWaitingMessage -->
		<add key="PBAjaxWaitingMessageFontFamily" value="Tahoma" />
    
		<!--AjaxWaitingMessageBoxFontSize  -->
		<add key="PBAjaxWaitingMessageFontSize" value="10" />
		
		<!--AjaxWaitingMessageBox Position:
			Center
			TopLeft
			TopRight
			BottomLeft
			BottomRight			
		-->
		<add key="PBAjaxWaitingMessageBoxPosition" value="Center" />
		
		<!--AjaxWaitingMessageBox Width(pixels)
		  if not specified, best fit is calculated.
		 -->
		<add key="PBAjaxWaitingMessageBoxWidth" value="" />
		
		<!--AjaxWaitingMessageBox Height(pixels) 
			if not specified, best fit is calculated. 
		 -->
		<add key="PBAjaxWaitingMessageBoxHeight" value="" />
		
		<!-- The value could be "enabled" or "disabled"-->
		<add key="PBTrace" value="enabled" />
		
		<!-- The target of trace: File | EventLog -->
		<add key="PBTraceTarget" value="File" />
		
		<!-- The level of trace: Critical (default) / SystemFunction -->
		<add key="PBTraceLevel" value="Critical" />

		<!-- Show alert message box when exiting browser: true(default) / false  -->
 		<add key="PBShowFormExitMessage" value="true" />

		<!-- Alert message when exiting browser -->
 		<add key="PBFormExitMessage" value="If there is any unsaved data, it will be lost." />

		<!-- Maximum number of concurrent sessions, default = 0 (no limitation) -->
		<add key="PBMaxSession" value="0" />

		<!-- 
			If the Target is File, PBTraceFileName should also be specified.
			If the file name is a relative path, it will be combined with <LogFolder>.
		-->
		<add key="PBTraceFileName" value="PBTrace.log" />
		
		<!--
			PBEventLogID is optional (1100 is default).It is only used when
			EventLog is enabled
		-->
		<add key="PBEventLogID" value="1100" />
		
		<!--
			If the value is true, the Selected event handler of every menu item
			will be triggered before the page be rendered.
		-->
		<add key="PBAutoTriggerMenuSelectedEvents" value="false" />
		
		<!--
			Factor used to adjust interval in Timer ( interval {, windowname } )
			Actual interval  = ( interval in Timer() ) * PBTimerInterval
			
			To disable all Window.Timer() events, set PBTimerInterval = 0
			To execute Window.Timer() events more slowly, set PBTimerInterval > 1
			To execute Window.Timer() events more rapidly, set PBTimerInterval < 1
			Default value = 0
		-->
		<add key="PBTimerInterval" value="0" />
		
		<!--
			Factor used to adjust interval in Idle ( interval )
			Actual interval  = ( interval in Idle() ) * PBIdleInterval
			
			To disable all Application.Idle() events, set PBIdleInterval = 0
			To execute Application.Idle() events more slowly, set PBIdleInterval > 1
			To execute Application.Idle() events more rapidly, set PBIdleInterval < 1
			Default value = 0
		-->
		<add key="PBIdleInterval" value="0" />
		
		<!--
			 If sending large data (as attachments) set the PBMailTimeout 
			 value higher than the default. Default is 20 mins (1200000 millisecs). 
			 The SMTP session expires when either of these happens:
				
			 a- Mail is sent within the set timeout value
			 b- Timeout value is reached before the mail is sent
		-->
		<add key="PBMailTimeout" value="1200000" />
		
		<!--
			Specify the life cycle of the temporary files ({WebAppDir}\temp\)
			generated by composite DataWindows.
			A value of 0 means that the temporary files are not automatically deleted.
			The default value is 0 (minutes)
		-->
		<add key="PBDeleteTempFileInterval" value="0" />
		
		<!--		
			Sets the number of DataWindow rows to display when the HTMLGen.PageSize
			property (Web Generation > Rows Per Page in the DataWindow painter) of the
			DataWindow object is not set. 

			Setting the value to 0 disables DataWindow pagination.
			This property is not supported in the following DataWindow presentation 
			styles: Group and Crosstab.
		-->
		<add key="PBDataWindowRowsPerPage" value="20" />
		
		<!--
			The type of page navigator used in the page navigation bar.
			value = NextPrev (default) 
			Alternate page navigators are: 
			Numeric, QuickGo, NextPrevWithQuickGo, and NumericWithQuickGo.
		-->
		<add key="PBDataWindowPageNavigatorType" value="NextPrev" />
		
		<!--
			The text format used to display page status. Use {C} for current page,
			{T} for total page, {S} for starting page of group, and 
			{E} for ending page of group.

			Default value = "Page {C} of {T}"
			You can set this value to an empty string if you do not want to show 
			the page status.
		-->
		<add key="PBDataWindowStatusInfoFormat" value="Page {C} of {T}" />
		
		<!--
			The description text displayed before the page number input edit box 
			or drop-down list.
			This property is meaningful for the following page navigator types only: 
			QuickGo, NextPrevWithQuickGo, and NumericWithQuickGo
			Default value = "Go To:"
		-->
		<add key="PBDataWindowGoToDescription" value="Go To:" />
		
		<!--
			Text for the GoTo Page button.
			This property is meaningful for the following page navigator types only: 
			QuickGo, NextPrevWithQuickGo, and NumericWithQuickGo
			Default value = "Go"
		-->
		<add key="PBDataWindowGoToButtonText" value="Go" />
		
		<!--
			Number of pages to show in the navigator.
			This property is meaningful for the following page navigator types only:
			Numeric and NumericWithQuickGo
			Default value = 10
		-->
		<add key="PBDataWindowPageCountPerGroup" value="10" />
		
		<!--
			The type of QuickGo page navigator.
			This property is meaningful for the following page navigator types only:
			QuickGo, NextPrevWithQuickGo, and NumericWithQuickGo
			Default value = DropDownList, alternative value is Edit
		-->
		<add key="PBDataWindowQuickGoPageNavigatorType" value="DropDownList" />
		
		<!--
			Specifies the position of the page navigation bar.
			Default value = PBDWBottom 
			Other permitted values are PBDWTop or PBDWTopAndBottom
		-->
		<add key="PBDataWindowNavigationBarPosition" value="PBDWBottom" />
		
		<!--
			Determines whether to display DropDownDataWindows (true) or 
			list boxes that simulate DropDownDataWindows (false).
			Default value = false
		-->
		<add key="PBDataWindowEnableDDDW" value="false" />
		
		<!--
			When "PBDataWindowEnableDDDW" is true, this option specifies whether or
			not to load the DDDW on demand using ASP.NET script callbacks.
			Default value = false 
		-->
		<add key="PBDataWindowScriptCallbackDDDW" value="false" />

		<!--
			List of DataWindow objects that are shared using application state 
			(HttpApplicationState).
			Permitted value is a comma-delimited list of DataWindow object names.
		-->
		<add key="PBCachedAndSharedDWs" value="" />
		
		<!--
			List of DropDownDataWindows that are shared using application state
			(HttpApplicationState).
			Permitted value is a comma-delimited list of DDDW object names.
		-->
		<add key="PBCachedAndSharedDDDWs" value="" />
		

		<!--
			Replace registry key of DBTrace: FetchBuffers in 
			HKEY_CURRENT_USER\Software\Sybase\PowerBuilder\11.0\DBTrace\FetchBuffers
		-->
		<add key="PBDBFetchBuffers" value="1" />

		<!--
			Replace registry key of DBTrace: LogFileName in 
			HKEY_CURRENT_USER\Software\Sybase\PowerBuilder\11.0\DBTrace\LogFileName

			The trace log will be saved in the virtual file system to the file name
			that you enter for the PBDBLogFileName value.
		-->
		<add key="PBDBLogFileName" value="c:\dbtrace.log" />

		<!--
			Replace registry key of DBTrace: ShowBindings in 
			HKEY_CURRENT_USER\Software\Sybase\PowerBuilder\11.0\DBTrace\ShowBindings
		-->
		<add key="PBDBShowBindings" value="1" />

		<!--
			Replace registry key of DBTrace: ShowDBINamesin 
			HKEY_CURRENT_USER\Software\Sybase\PowerBuilder\11.0\DBTrace\ShowDBINames
		-->
		<add key="PBDBShowDBINames" value="0" />

		<!--
			Replace registry key of DBTrace: SqlTraceFile in 
			HKEY_CURRENT_USER\Software\Sybase\PowerBuilder\11.0\DBTrace\SqlTraceFile

			The trace log will be saved in the virtual file system to the file name
			that you enter for the PBDBSqlTraceFile value.
		-->
		<add key="PBDBSqlTraceFile" value="c:\pbtrsql.log" />

		<!--
			Replace registry key of DBTrace: SumTiming in 
			HKEY_CURRENT_USER\Software\Sybase\PowerBuilder\11.0\DBTrace\SumTiming
		-->
		<add key="PBDBSumTiming" value="1" />

		<!--
			Replace registry key of DBTrace: Timing in 
			HKEY_CURRENT_USER\Software\Sybase\PowerBuilder\11.0\DBTrace\Timing
		-->
		<add key="PBDBTiming" value="1" />

		<!--
			The Java VM log file.
			If the file name is a relative path, it will be combined with <LogFolder>.
		-->
		<add key="PBJVMLogFileName" value="vm.out" />
	</appSettings>
  
  <system.web>

	<pages theme="">
		<controls>
			<add tagPrefix="pb" namespace="Sybase.PowerBuilder.Web"
				assembly="Sybase.PowerBuilder.Web, Version=12.5.0.0, Culture=neutral,
				PublicKeyToken=598c7456a83d557a" />
		</controls>
	</pages>

	<!--  HTTP RUNTIME SETTING
		 Configures ASP.NET HTTP runtime settings. This section can be declared
		 at the machine, site, application, and subdirectory levels

		 maxRequestLength: Indicates the maximum file upload size supported by ASP.NET. 
		 This limit can be used to prevent denial of service attacks caused by users 
		 posting large files to the server. The size specified is in kilobytes.
		 The default is 4096 KB (4 MB).
	-->
	<httpRuntime maxRequestLength="20000" requestValidationMode="2.0" />

	<!--  DYNAMIC DEBUG COMPILATION
		 Set compilation debug="true" to enable ASPX debugging.  Otherwise, set this
		 value to false to improve runtime performance of the application. 
		  
		 Setting compilation debug="true" inserts debugging symbols (.pdb information) 
		 into the compiled page. Because this creates a larger file that executes
		 more slowly, you should set this value to true only when debugging. 
	-->
	<compilation defaultLanguage="c#" debug="true">
		<assemblies>
			<add assembly="Sybase.PowerBuilder.Core, Version=12.5.0.0, Culture=neutral, PublicKeyToken=598c7456a83d557a"/>
			<add assembly="Sybase.PowerBuilder.Common, Version=12.5.0.0, Culture=neutral, PublicKeyToken=598c7456a83d557a"/>
			<add assembly="Sybase.PowerBuilder.Web, Version=12.5.0.0, Culture=neutral, PublicKeyToken=598c7456a83d557a"/>
			<add assembly="Sybase.PowerBuilder.Graph.Web, Version=12.5.0.0, Culture=neutral, PublicKeyToken=598c7456a83d557a"/>
			<add assembly="Sybase.PowerBuilder.DataWindow.Web, Version=12.5.0.0, Culture=neutral, PublicKeyToken=598c7456a83d557a"/>
			<add assembly="Sybase.PowerBuilder.WinWebDataWindowCommon, Version=12.5.0.0, Culture=neutral, PublicKeyToken=598c7456a83d557a"/>
		</assemblies>
	</compilation>
	<httpHandlers>
		<remove verb="*" path="*.asmx"/>
	</httpHandlers>

	<!--  CUSTOM ERROR MESSAGES
		  Set customErrors mode="On" or "RemoteOnly" to enable customized error messages.
		  Set mode to "Off" to disable. 
		  Add <error> tags for each of the errors you want to handle.

		  "On" always displays custom (friendly) messages.
		  "Off" always displays detailed ASP.NET error information.
		  "RemoteOnly" displays custom (friendly) messages only to users not running 
		  on the local Web server. This setting is recommended for security purposes, so 
		  that you do not display application detail information to remote clients.
	-->
    <!--<customErrors mode="RemoteOnly" /> -->
    <customErrors mode="Off" />

	<!-- <roleManager enabled="true" /> -->

	<membership>
		<providers>
			<clear/>
			<!-- <add name="AspNetSqlMembershipProvider" 
				type="System.Web.Security.SqlMembershipProvider, 
				System.Web, Version=2.0.0.0, Culture=neutral, 
				PublicKeyToken=b03f5f7f11d50a3a" 
				connectionStringName="LocalSqlServer"  
				enablePasswordRetrieval="false" 
				enablePasswordReset="true" 
				requiresQuestionAndAnswer="false" 
				applicationName="pruebawebform" 
				requiresUniqueEmail="false" 
				minRequiredPasswordLength="1" 
				minRequiredNonalphanumericCharacters="0" 
				passwordFormat="Hashed" 
				maxInvalidPasswordAttempts="5" 
				passwordAttemptWindow="10" 
				passwordStrengthRegularExpression=""/> -->
		</providers>
	</membership>
	
	<!--  AUTHENTICATION 
		  This section sets the authentication policies of the application. Possible modes
		  are "Windows", "Forms", "Passport", and "None"

		  "None" - No authentication is performed. 
		  "Windows" - IIS performs authentication (Basic, Digest, or Integrated Windows)
		  according to its settings for the application. Anonymous access must be
		  disabled in IIS. 
		  "Forms" - You provide a custom form (Web page) for users to enter their 
		  credentials, and then you authenticate them in your application. A user
		  credential token is stored in a cookie.
		  "Passport"- Authentication is performed via a centralized authentication service
		  provided by Microsoft that offers a single login and core profile services 
		  for member sites.
	-->
	<authentication mode="Forms">
		<forms timeout="100800" />
	</authentication>

	<!--  AUTHORIZATION 
		  This section sets the authorization policies of the application. You can allow 
		  or deny access to application resources by user or role.      
		  Wildcards: 
			"*" means everyone 
			"?" means anonymous (unauthenticated) users.
	-->

	<authorization>
		<allow users="*" /> <!-- Allow all users -->
			<!--  <allow users="[comma separated list of users]"
				     roles="[comma separated list of roles]"/>
			      <deny users="[comma separated list of users]"
				     roles="[comma separated list of roles]"/>
			-->
	</authorization>

	<!--  APPLICATION-LEVEL TRACE LOGGING
		  Application-level tracing enables trace log output for every page 
                  within an application. 
		  Set trace enabled="true" to enable application trace logging.  
		  If pageOutput="true", the trace information will be displayed at the 
		  bottom of each page.  Otherwise, you can view the application trace 
		  log by browsing the "trace.axd" page from your Web application
		  root. 
	-->
	<trace
		enabled="false"
		requestLimit="10"
		pageOutput="false"
		traceMode="SortByTime"
		localOnly="true"
	/>

	<!--  SESSION STATE SETTINGS
		  By default ASP.NET uses cookies to identify which requests belong 
		  to a particular session. 
		  If cookies are not available, a session can be tracked by adding a session
		  identifier to the URL. 
		  To disable cookies, set sessionState cookieless="true".
	-->
	<sessionState 
		mode="InProc"
		stateConnectionString="tcpip=127.0.0.1:42424"
		sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
		cookieless="false" 
		timeout="20" 
	/>

	<!--  GLOBALIZATION
		  This section sets the globalization settings of the application. 
	-->
	<globalization 
		requestEncoding="utf-8" 
		responseEncoding="utf-8" 
	/>
   
 </system.web>
 
	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>

	<location path="admin">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
		</handlers>
	</system.webServer>
</configuration>
